<%= form_tag do %>
  <div class="form-group">
    <div class="row">
      <%= label_tag :subject, "subject", class: "labelForm text-left col-md-2 text-center offset-md-1 " %>
    </div>
    <div class="row">
      <%= text_field_tag "subject", params[:subject], :minlength => 5, :maxlength => 50, class: "offset-md-1 col-md-10 col-xs-12s shadow-sm" %>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <%= label_tag :name, "name", class: "labelForm text-left col-md-2 text-center offset-md-1" %>
    </div>
    <div class="row">
      <%= text_field_tag "name", params[:name], :minlength => 5, :maxlength =>  50, class: "offset-md-1 col-md-10 col-xs-12s shadow-sm" %>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= label_tag :message, "message", class: "labelForm text-left col-md-2 text-center offset-md-1" %>
    </div>
    <div class="row">
      <%= text_area_tag :message, "", :minlength => 3, :maxlength =>  550, class: "offset-md-1 col-md-10 col-xs-12s shadow-sm" %>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-10 col-md-2"> 
      <%= submit_tag "Enviar", class: "btn sendButton" %>
    </div>
  </div>
<% end %>